<html>
   <head>
    <title> <%= title %> </title>
   </head>

   <body>
    <h1>Your Contacts!</h1>
  
   
    <ul>
    <% for (let i of contact_list) {%> 
        <li>
            <p>Name: <b><%= i.name %></b></p>
            <p>Contact Number: <b><%= i.phone %></b></p>
        </li>   
        <div>
            <a href="/delete-contact/?id=<%=i.id %>">Delete Contact</a>
        </div>     
    <%}%>
    </ul>
    
    <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="Enter name" required>
        <input type="text" name="phone" placeholder="Enter phone" required>
        <button type="submit">Add contact</button>
    </form>
  
    <script type="text/javascript" src="/js/home.js"></script>
   </body>

</html>