<html>
    <head>
        <title>
            Profile
        </title>
    </head>
    <body>
    <h1>This is profile section!</h1>
        <ul>
        <% for(i=0;i<10;i++) { %> 
            <li>
                <%=i %>
            </li>
        <%} %>
        </ul>
    </body>
</html>